@{
    ViewBag.Title = "Animals for Adoption";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

   
    <head>
        <title>Animals for adoption</title>
    </head>
<body>
    <p>Here is a list of animals we currently have for adoption.  They are listed by breed.</p>
    
        <ul>
            Dogs
            <li>Emma</li>
        </ul>
    <ul>
        Cats
        <li>Rummy</li>
    </ul>
    <ul>
        Pigs
            <li>Bacon</li>
    </ul>
    <ul>
        Dragons
        <li>Drogon</li>
    </ul>
    <ul>
        Unknown Species
        <li>Larry</li>
    </ul>    



</body>
</html>