@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of animals available for adoption</title>
</head>
<body>
    <ol>
        <li>
            <img height="300" width="400" src="http://i58.tinypic.com/2eulp47.jpg" /> <br />
            This is Rummy.  Rummy is a 9 year old cat.  Rummy eats, sleeps and poops for 95% of his day.  When he's awake he meows constantly is a rather
            large annoyance.  He likes to play with milk rings and twisty ties, but will thoroughly ignore any cat toy you buy him.  He doesn't really get
            along with any other animals, or most humans.  If he likes you, we'd consider that a Christmas miracle.  Rummy has a sensitive stomach and likes
            to vomit at any given notice if he eats too much or just feels like it.

            Rummy's adoption fee is $100.
        </li>
        <li>
            <img height="300" width="400" src="http://images5.fanpop.com/image/photos/30600000/got-game-of-thrones-30672694-500-277.png" /> <br />
            This is Drogon.  Drogon is a black dragon.  He is not to be trifled with.  Drogon is just as likely to eat you as he is his food.  His food, by
            the way, needs to be charred.  Black.  He will do it himself.  If he is breathing fire it's a good idea to just stay away.  Frankly, if you come
            to see him and he doesn't try to kill you, we'll consider it a match.

            Drogon's adoption fee is $10.  In reality, if you want him you can have him.  He's already eaten three of our employees.
        </li>
        <li>
            <img height="300" width="400" src="http://pigstarfarm.com/DataImg/americanlandrace/home_pig.png"><br />
            This is Bacon.  Bacon is a pig.  Everyone loves Bacon, because bacon.  Bacon's age doesn't matter because you're going to eat him anyhow.  His weight is
            what matters, and he's really fat.  You'll get a lot of bacon out of him.  Really, just stick him someplace and feed him until you're ready to turn him into
            bacon.  And don't really bother thinking you'll turn him into something that isn't bacon, because we both know you won't.  Bacon.

            Bacon's adoption fee is $100.  Let's be honest, you'll get $200 out of bacon out of him.  Bacon.<br />

            Bacon.<br />

            <strong>BACON!</strong>
        </li>
        <li>
            <img height="300" width="400" src="http://firestormfan.com/images/bb-liger.jpg"><br />
            This is Larry.  Larry is a Liger.  We're not entirely sure Larry actually exists.  This kid named Napoleon brought in this picture and asked that
            we find a good home for Larry.  But he hasn't actually brought Larry in.  So we guess Larry is a Liger, which is a mix between a Tiger and Lion - 
            according to this kid.

            If in fact you think Larry is real and would like to adopt him.  We've got this Napoleon kids number, you can call him.
        </li>
        <li>
            <img height="300" width="400" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/t1/1185727_10151650267257993_1172201637_n.jpg"><br />
            This is Emma.  Emma is a Black Lab.  Emma is actually a good dog.  She plays with her toys, doesn't poop or pee everywhere and she doesn't bark, which is odd
            yet convenient.  Emma's only problem is she farts, and they smell pretty bad.  So if you can get over that, Emma is the perfect dog for you. <br />

            Emma's adoption fee is $250.
        </li>
    </ol>
    <div>

    </div>
</body>
</html>
