@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Uncle Simon's Petting Palace!</h1>
    <p class="lead">Welcome!  At Uncle Simon's Petting Palace we specialize in adoptions for animals beyond the typical cat and dog! </p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What we do</h2>
        <p>
                Uncle Simon's Petting Paradise for Pets is a place for pets to go so they don't have to be put down in those nasty animal shelters.
            We don't discriminate against any type of animal, we just want to make sure that every animal has a loving home to go to.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Want to adopt?</h2>
        <p>If you're looking to adopt a pet, just click on the Pets for Adoption link above, and browse through what we have.
        You should be aware that some animals are exotic and dangerous.  Some require a lot more attention than others.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Donations!</h2>
        <p>If you don't want to adopt a pet, you can still donate to the cause.  Visit the Contact Us page to find out how!</p>
        <p></p>
    </div>
</div>